
.form-container {
    margin: 10px 20px;
}
.form-content {
    font-size: 1.4em;
    text-align: center;
    width: 80vw;
    min-width: 1600px;
    max-width: 1800px;
    padding: 20px;
    border: 2px solid var(--line-blue);
    border-radius: var(--border-radius);
    box-shadow: var(--box-shadow_1);
    border-left: var(--line-blue);
    border-right: var(--line-blue);
    background-size: cover;
    background-position: center;
    object-fit: contain;
}
.form-content:hover {
    box-shadow: var(--box-shadow_2);
}
form div {
    margin-bottom: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
}
label {
    font-weight: bold;
    flex: 1;
}
input[type="text"],
input[type="email"],
input[type="password"] {
    flex: 1;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
form div {
    margin-bottom: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
}
label {
    font-weight: bold;
    flex: 1;
    margin-right: 10px; /* Ruimte tussen label en invoerveld */
}
input[type="text"],
input[type="email"],
input[type="password"],
input[type="number"],
input[type="file"] {
    flex: 2;
    padding: 8px;
    width: 100%;
}
