/* Voeg deze CSS toe aan je stijlblad (bijvoorbeeld Inschrijf_Form.css) */


.form-container {
    margin: 10px 20px;
}

.form-content {
    text-align: center;
    width: 100%;
    max-width: 90vw;
    padding: 20px;
    border: 2px solid var(--line-blue);
    border-radius: var(--border-radius);
    box-shadow: var(--box-shadow_1);
    border-left: var(--line-blue);
    border-right: var(--line-blue);
}

.form-content:hover {
    box-shadow: var(--box-shadow_2);
}


form div {
    margin-bottom: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
}

label {
    font-weight: bold;
    flex: 1;
}

input[type="text"],
input[type="email"],
input[type="password"] {
    flex: 1; /* Hiermee krijgt het invoerveld de andere helft van de beschikbare ruimte */
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
