/*Font*/
.font_music_page {
    font-family: "Comic Sans MS", "cursive", "Brush Script", cursive;
    color: saddlebrown;
}

.dutch {
    color: #fbb026;
}

/*Buttons*/
.music-btn {
    width: 14vw;
    max-width: 400px;
    height: 5.5vh;
    max-height: 200px;
    text-decoration: none;
    text-align: center;
    margin: 5px 10px;
    padding: 10px 60px;
    border: 2px whitesmoke;
    border-radius: var(--border-radius);
    box-shadow: 3px 3px var(--background-gradient);
    transition: 0.5s ease-in-out;
    font-size: 1.4em;
    font-weight: bold;
}

.music-btn:hover {
    border: 2px solid var(--blue-1);
}

.bttn_spotify {
    color: black;
    background-size: cover;
    background: url("../../assets/logos and backgrounds/spotify.png") center;
}

.bttn_youtube {
    color: #3b7a0e;
    font-weight: bolder;
    background-size: cover;
    background: url("../../assets/logos and backgrounds/youtube.png") center;

}

.bttn_top2000 {
    color: black;
    background-size: cover;
    background: url("../../assets/logos and backgrounds/top2000.png") center;
}

