.inschrijving_Content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    text-align: center;
    margin: 0 auto;

}
.outer-nav-container{
    background-image: url('../../assets/logos and backgrounds/pen.svg');
    background-size: cover;
    background-position: center;
    object-fit: contain;
    width: 90vw;
    height: 100vh;
}
.nav-buttons{
    border-radius: var(--border-radius);
    text-align: center;
    margin: 0 auto;

}
