.informatie_container {
    width: 50%;
}

.text-content {
    border: none;
}
.text-row{
    border-top: 2px solid var(--line-blue);
    border-bottom: 2px solid var(--line-blue);
    margin-bottom: 20px;
}

.img-carousel {
    width: 10%;
}