

.form-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 1.4em;
    text-align: center;
    width: 80vw;
    min-width: 350px;
    max-width: 1800px;
    padding: 20px;
    border-radius: var(--border-radius);
    box-shadow: var(--box-shadow_1);
    text-shadow: var(--box-shadow_1);
    background-size: cover;
    background-position: center;
    object-fit: contain;

}
.form-content:hover {
    box-shadow: var(--box-shadow_2);
}
form div {
    margin-bottom: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
}
label {
    font-weight: bold;
    flex: 1;
}
input[type="text"],
input[type="email"],
input[type="password"],
input[type="username"],
input[type="file"]
{
    margin-top: 10px;
  font-size: 0.9em;
    flex: 2;
    padding: 8px;
    color: var(--blue-1);
    border: var(--input-border);
    border-radius: var(--border-radius-form);
    background-color: var(--input-background);

    );
}
input[type="number"]{
    font-size: 0.9em;
    flex: 2;
    padding: 8px;

    color: var(--blue-1);
    border: var(--input-border);
    border-radius: var(--border-radius-form);
    background-color: var(--input-background);

}
input[type="date"]{
    font-size: 1.1em;
    text-shadow: 2px 1px 2px var(--blue-1);
    flex: 2;
    padding: 8px;

    color: var(--background-gradient-color);
    border: var(--input-border);
    border-radius: var(--border-radius-form);
    background-color: var(--input-background);

}
select {
    font-size: 0.9em;
    flex: 2;
    padding: 8px;
    width: 80%;
    color: var(--blue-1);
    border: var(--input-border);
    border-radius: var(--border-radius-form);
    background-color: var(--input-background);
}
form div {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    width: 80%;
}
form div label {
    font-weight: bold;
    flex: 1;
    margin-right: 10px;
}
form div input[type="text"],
form div input[type="email"],
form div input[type="password"],
form div input[type="number"],
form div input[type="file"],
form div input[type="date"],
form div input[type="username"],
form div select {
    flex: 2;
    );
    display: flex;
    flex-direction: column;
}

label[data-inhoud]::before {
    content: attr(data-inhoud);
    display: none;
    position: absolute;
    color: var(--blue-1);
    z-index: 1;
    left: 24.5vw;
    top:68vh;
    text-align: center;
    font-size: 0.8em;

}

label:hover[data-inhoud]::before {
    display: block;
}
