.text-row {
    border: none;
    background-image: url('../../assets/grain.svg');
    background-size: cover;
    background-position: center;
    object-fit: contain;
}
.text-content{
    width: 90vw;

}
.title-content{

}