.cubes-container {
    display: flex;
    justify-content: space-between;
    width: 95%;
    margin: 50px auto 10px auto;
    padding-bottom: 20px;
    padding-top: 100px;

}

.cube-bttn {
    width: 15vw;
    height: 18vh;
    padding: 10px 20px;
    background-color: var(--line-blue);
    color: white;
    border: none;
    border-radius: var(--border-radius);
    box-shadow: var(--box-shadow_1);
    cursor: pointer;
    font-size: 2em;
}


.cube-bttn:hover {
    padding: 30px 40px;
    color: var(--line-blue);
    cursor: pointer;
    border: 2px var(--line-blue) solid;
    box-shadow: var(--box-shadow_2);
}

.cube-bttn1, .cube-bttn2, .cube-bttn3, .cube-bttn4{
    transition: background 1.2s ease-in-out;
}

.cube-bttn1:hover{
    background-size: cover;
    background: url("../../assets/general pics/beers_With_friends.png") center;
    font-weight: bold;
}
.cube-bttn2:hover{
    background-size: cover;
    background: url("../../assets/general pics/taps.png") center;
    font-weight: bold;
}
.cube-bttn3:hover{
    background-size: cover;
    background: url("../../assets/general pics/four_Glasses.png") center;
    font-weight: bold;
}
.cube-bttn4:hover{
    background-size: cover;
    background: url("../../assets/general pics/hop_and_barl.png") center;
    font-weight: bold;
}




