


.text-component-dropdown > .submenu-content > :first-child {
    margin-top: -40px;
}
.submenu-content{
    width: 90%;
    max-height: 600px;
    opacity: 1;
    overflow-y: auto;
    transition: width 0.7s ease-in-out;
}
.submenu-content:hover{
    opacity: 1;
    width: inherit;

}












