.informatie_container{
    flex-direction: row;
}

.titel_container {
    flex-direction: column;
    margin: 20px 0;
}

.text-component-dropdown > .submenu-content > :first-child {
    margin-top: -40px;
}









