.navList {
    list-style-type: none;
    padding: 0;
    margin: 0;
}
/*navbar*/
.navBar-container {
    display: flex;
    flex-direction: column; /* Plaats in een rij */
    align-items: flex-end; /* Verticaal*/
    justify-content: flex-end; /* Uitlijnen naar rechts */
    /* Voeg tussenruimte toe tussen de elementen */
    width: 100%;
    height: 50%;
    max-height: 50vh;
    min-height: 20vh;
    border: 3px solid #ff7592;
    padding: 30px 30px;
}
.navBar-bttn {
    display: flex;
    justify-content: flex-start;
    align-items: center; /* Verticaal centreren */
    position: relative;
    transform: translateY(-30px) translateX(7px);
    margin-right: 0px;
    margin-left:  -20px;
    font-family: 'Poppins', sans-serif;
    color: var(--blue-1);
    font-size: 1em;
}
.navBar-bttn {
    background: transparent;
    border: none;
    transition: 10s background-image,  right ease-in-out;
}
.navBar-bttn h1:hover{
    display: block;
    background-image: var(--green-blue-gradient);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}

/*dropdown-content*/
.dropdown {
    position: absolute;
    width: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    top: 50%;
    transform: translateY(40px) translateX(-100px);
    right: 10px;
    transition: 0.5s ease-in-out;
    border-top: var(--blue-1);
    border-bottom: var(--blue-1);
}
.dropdown-content {
    justify-content: flex-start;
    display: none;
    width: 400px;
    white-space: nowrap;
    z-index: 1;
    opacity: 0;
    transform: translateY(-35px) translateX(-20px);
    transition: opacity 3s ease-in-out, transform 3s ease-in-out; /* Voeg overgangen toe aan opacity en transform */
    position: absolute;
    top: 100%;
    list-style-type: none;
    font-size: 1.7em;
    border: 2px solid var(--blue-1);
    border-radius: var(--border-radius);
    box-shadow: var(--box-shadow_1);
    border-left: var(--blue-1);
    border-right: var(--blue-1);
    padding: 10px 0  0 70px;
}
.dropdown-content:hover {
    box-shadow: var(--box-shadow_2);
}

.dropdown-content a {
    background: rgba(255, 255, 255, 0.5);
    text-decoration: none;
    color: var(--blue-1);
    display: block;
    box-shadow: var(--box-shadow_1);
    transition: 0.5s ease-in-out;
    text-shadow: 2px 2px 2px var(--blue-4);
}
.dropdown-content a:hover {
    display: block;
    -webkit-background-clip: text;
    background-clip: text;
    text-decoration: underline;
}
.dropdown:hover .dropdown-content {
    display: block;
    background: rgba(255, 255, 255, 0.12);
    opacity: 1;
}
/*submenu-content*/
.submenu-content {
    margin-top: 10px;
    justify-content: flex-start;
    margin-left: 0.3vw;
    width: 100%;
    max-width: 800px;
    max-height: 500px;
    opacity: 1;
    overflow-y: auto;
    transition: width 0.7s ease-in-out;
}
.submenu-content:hover{
    opacity: 1;

}
#algemene-informatie,
#het-proces {
    padding-top: 20px;
}
/*submenu*/
.submenu p {
    color: var(--blue-1);
    display: block;
    box-shadow: var(--box-shadow_1);
    transition: 0.5s ease-in-out;
}
.submenu p:hover {
    display: block;
    -webkit-background-clip: text;
    background-clip: text;
}
/*text-content*/
.text-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    box-shadow: var(--box-shadow_1);
}
.text-content:hover {
    box-shadow: var(--box-shadow_2);
}

.submenu:hover .more_container {
    display: block;
}



