.carousel  {
    box-shadow: var(--box-shadow_1);
    opacity: 99%;
}
.img-carousel{
    width: 40vw;
    height: 50%;
}
.carousel-img {
    width: 50%;
    height: 50%;
    border-radius: var(--border-radius);
}
.carousel.carousel-slider .control-arrow.control-prev {
    background-color:var(--line-blue-2);
    opacity: 0.5;
    border: 2px solid transparent;
    border-radius: var(--border-radius);

 }
.carousel.carousel-slider .control-arrow.control-prev:hover {
    opacity: 1.5;

}

.carousel.carousel-slider .control-arrow.control-next:hover {
    opacity: 5.5;
}
.carousel.carousel-slider .control-arrow.control-next {
    background-color:var(--line-blue-2);
    opacity: 0.5;
    border: 2px solid transparent;
    border-radius: var(--border-radius);

}
.carousel.carousel-slider .control-arrow.control-next:hover {
    opacity: 5.5;
    border: 2px solid whitesmoke;
}
.carousel.carousel-slider h2, h3 {
    border-top: 2px solid var(--line-blue-2);
    border-radius: var(--border-radius);
    box-shadow: var(--box-shadow_1);
    padding-left: 2vw;
    padding-right: 2vw;
}
.carousel.carousel-slider h2:hover {
    box-shadow: var(--box-shadow_2);
}





