.informatie_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: 20px;
}

.titel_container {
    margin: 20px 0;
}

.text-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
    border: 2px solid var(--line-blue);
    border-radius: var(--border-radius);
    box-shadow: var(--box-shadow_1);
    border-left: var(--line-blue);
    border-right: var(--line-blue);
}

.text-content:hover {
    box-shadow: var(--box-shadow_2); /* Gebruik de --box-shadow_2 variabele voor de hover box-shadow */
}


.text-row.content_1 {
    flex-direction: row;
}

.text-row.content_2 {
    flex-direction: row-reverse;
}

.text-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    border-radius: var(--border-radius);
    box-shadow: var(--box-shadow_1);
    border-top: var(--line-blue);
    border-bottom: var(--line-blue);
}

.text-row:hover {
    box-shadow: var(--box-shadow_2);
}

.text-image img {
    max-width: 90%;
    height: 90%;
    z-index: 1;
    transition: 0.5s ease-in-out;
}

.text-image img:hover {
    position: relative;
    transform: translateX(-60px) scale(1.4);
}