.star-rating {
    font-size: 24px;
    cursor: pointer;
}

.star {
    font-size: 50px;
    filter: grayscale(60%);
    opacity: 0.5;
    max-width: 200px;
    display: inline-block;
    text-align: center;
    transition: color 0.2s, width 0.2s; /* Overgangen voor kleur en breedte */
}

.filled {
    opacity: 1;
    filter: grayscale(0%);


}
