
.age_Check-Container{
    height: 50vh;

}

/*calender*/
.react-calendar {
    width: 40vw;
    max-width: 300px;
    border: 1px solid var(--line-blue);
    font-family: Arial, sans-serif;
    margin-bottom: 20px;
}

.react-calendar__tile {
    background: white;
}

.react-calendar__tile--active {
    background: var(--line-blue);
    color: white;

}


/*!* Algemene stijl voor input[type="date"] *!*/
/*input[type="date" i] {*/
/*    color: #ff7592;*/
/*    font-family: monospace;*/
/*    padding-inline-start: 1px;*/
/*    cursor: default;*/
/*    align-items: center;*/
/*    display: inline-flex;*/
/*    overflow: hidden;*/
/*    padding: 0px;*/
/*}*/

/*!* Stijl voor focus (gebruik -webkit-focus-ring-color voor WebKit-browsers) *!*/
/*input[type="date" i]:focus-visible {*/
/*    outline: -webkit-focus-ring-color auto 1px;*/
/*    color: green;*/
/*}*/

