
/*///
Table of Contents:
    1. link to the repository
    2. Global Styles
        2.1 variable styles
    3. Typografie*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,500;0,700;0,800;1,100;1,600;1,800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,500;0,700;0,800;1,100;1,600;1,800&family=Roboto:ital,wght@0,100;0,400;0,500;1,100&display=swap');
/*  4. roots styles*/
/*  5. utility/reusable
    6. Areas
        6.1 background
        5.2 2
        6.3 Support
        6.4 Faq
        6.5 Footer
        6.6 Main*/

/*  4. roots styles*/
/*-colors-*/
/*:root {*/
/*--Paars: #5722CD;*/
/*--Blauw: #4845E4;*/
/*--Roze: #ED4385;*/
/*--Zwart: #0C0C0C; !*(voor standaard tekst);*!*/
/*--Lichtpaars: #F2F0FF; !*(voor de grote zwevende woorden, zoals "hello" en "services") Uitzonderingen*!*/
/*--Lichtgrijs: #F3F6F9; !*(voor de achtergrond van de projecten)*!*/

/*:root {*/
/*    --Paars: #5722CD;*/
/*    --Blauw: #4845E4;*/
/*    --Roze: #ED4385;*/
/*    --Zwart: #0C0C0C; !*(voor standaard tekst);*!*/
/*    --Lichtpaars: #F2F0FF; !*(voor de grote zwevende woorden, zoals "hello" en "services") Uitzonderingen*!*/
/*    --Lichtgrijs: #F3F6F9; !*(voor de achtergrond van de projecten)*!*/
/*}*/
/*-borders-*/
/*-colors-*/

:root {
    --gradient: radial-gradient(circle farthest-side at center center, #fdf699 80%, #ffed2d 95%, rgba(255, 237, 45, 0.9));
    --background-gradient: radial-gradient(circle farthest-side at center center, rgba(253, 246, 153, 0.12) 80%, rgba(255, 237, 45, 0.12) 95%, rgba(255, 237, 45, 0.12));
    --line-blue: rgb(68, 88, 132);
    --titles: #efcb23;

}
/*-font-size-*/
/*:root {*/
/*    --font-pc__p: 12px;*/
/*    --font-phone__p: 10px;*/
/*    --font-pc__h2--h3: 20px bold;*/
/*    --font-phone__h2--h3: 16px bold;*/
/*}*/
/*-font-weight-*/

/*///1. Global Styles///*/
/*om basis opmaak van HTML op te heven*/
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
}
.navBar-bttn{
    border: none;
    background: rgba(255, 255, 255, 0.12);
    box-shadow: inset 3px 3px rgba(255, 255, 255, 0.12);
    border-radius: 10px;
}

.outer-outer-container {
    height: 100%;
    width: 100%;
    background: var(--background-gradient);
    backdrop-filter: blur(5px);
    border: 3px solid black;
    overflow: hidden;
}


.outer-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    max-height: 1800px;
    max-width: 98vw;
    margin: 0 auto;
    border: 3px solid greenyellow;
}


.header-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between; /* Plaats de elementen aan beide uiteinden van de container */
    align-items: center;
    height: 30vh;
    width: 100%;
    max-height: 40vh;
    margin: 0;
    padding: 0;
}

.header-container {
    border:  3px solid darkred;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 12vh;
    width: 100%;
    max-height: 20vh;
    margin: 0;
    padding: 0;
    position: relative; /* Voeg deze regel toe */
}

.headerlogo-container {
    flex: 1;
}


.logo-img{
    height: 10vh;
    width: 60vw;
    max-height: 400px;
    max-width: 20000px;
    border-radius: 30px;
    backdrop-filter: blur(10px);
    box-shadow: 2px 2px 58px 4px rgb(255, 255, 255), 2px 2px 58px 4px rgb(255, 253, 229);
    margin: 10px 10px;
}
.wheat_logo{
    width: 70px; /* Pas dit aan naar de gewenste breedte */
    height: 70px;
    min-width: 50px;
    min-height: 50px;
    max-width: 90px;
    max-height: 90px;

    /*max-width: none; !* Hiermee wordt de maximale breedte opgeheven, als dat nodig is *!*/
    /*max-height: none; !* Hiermee wordt de maximale hoogte opgeheven, als dat nodig is *!*/
    border-radius: 30px;
    transform: rotatey(180deg) translateX(-9px);
}

.footer-container {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 100%;
    max-height: 200px;

}


/*.header-container img{*/
/*    margin: 50px;*/
/*}*/
.main-container {
    flex-direction: row;
    justify-content: center;
    align-content: center;
    border: 2px solid black;
    height: 50vh;
    width: 100%;
    max-height: 90vh;
    min-height: 75vh;
    margin: 0 0 10px 0 ;
    padding: 0;
}


.footer-container {
    flex-direction: row;
    width: 100%;
    height: 25vh;
    max-height: 20vh;
    min-height: 10vh;
    border: 3px solid #ff7592;
    /*background-image: url('assets/footer.svg');*/
    /*background-size: cover;*/
    /*background-position: center;*/
    /*object-fit: contain*/
}

.header-logo-container{
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}
/*///2.1 variable styles///*/

/*///2. Typography///*/
h1, h2 {
    font-family: 'Roboto', sans-serif;
    margin-bottom: 1em;
    font-size: 3em;
    color: var(--line-blue)
}

h1 {
    font-size: 4em; /*16px is de standaard van "em"*/
}


/*///4. utility///*/

.debug {
    border: 2px solid red;
}

/*///5. Areas///*/

/*navbar*/

/*footer {*/

/*Main*/
.text {
    text-align: center; /* Tekst in het midden uitlijnen */
}

.text-content {
    display: flex;
    align-items: center; /* Verticaal centreren */
    justify-content: center; /* Horizontaal centreren */
    margin-top: 20px; /* Ruimte boven de content */
}

.text-text, .welcome-image {
    margin: 0 10px; /* Ruimte tussen tekst en afbeelding */
}
.text-image img {
    max-width: 100%; /* Zorg ervoor dat de afbeelding niet breder is dan de container */
    height: auto; /* Behoud de aspectverhouding van de afbeelding */
}


/*.logo-img {*/
/*    justify-items: space-around;*/
/*    align-content: center;*/
/*    width: 90%;*/
/*    height: 30%;*/
/*    !* Hiermee wordt de afbeelding volledig in de container weergegeven en bijgesneden indien nodig *!*/
/*}*/


/*}*/

/*fieldset {*/

/*}*/

/*fieldset legend { !* "<" decent*!*/

/*}*/

/*button {*/


/*button-primary { !*class="button button-primary"*!*/

/*}*/

/*button + button { !*als item 2 is libeling van item 1 dan *!*/
/*    margin-left: 16px;
}*/

/*input {*/
/*width: 100%;*/
/*display: block /inline/ 100%; !*ipv flexbox*!*/
/*}*/