
/*///
Table of Contents:
    1. link to the repository
    2. Global Styles
        2.1 variable styles
    3. Typografie*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,500;0,700;0,800;1,100;1,600;1,800&family=Roboto:ital,wght@0,100;0,400;0,500;1,100&display=swap');
/*  4. roots styles*/
/*  5. utility/reusable
    6. Areas
        6.1 background
        6.2 scrollbar
        6.3 Support
        6.4 Faq
        6.5 Footer
        6.6 Main*/

/*  4. roots styles*/
/*-colors-*/
/*:root {*/


:root {
    --gradient: radial-gradient(circle farthest-side at center center, #fdf699 80%, #ffed2d 95%, rgba(255, 237, 45, 0.9));
    --background-gradient-lightmode: radial-gradient(circle farthest-side at center center, rgba(253, 246, 153, 0.12) 80%, rgba(255, 237, 45, 0.12) 95%, rgba(255, 237, 45, 0.12));
    --background-gradient-darkmode: radial-gradient(circle farthest-side at right bottom, rgba(0, 0, 0, 0.5) 0%, rgba(33, 31, 25, 0.8) 15%, rgba(0, 0, 0, 0.8) 65%);
    --background-gradient-color:#fffef3;
    --green-blue-gradient: linear-gradient(44deg, #78a80f 30%, rgb(68, 88, 132) 100%);
    --light-dark-gradient: linear-gradient(44deg, rgba(68, 88, 132, 0.5) 0%, rgb(68, 88, 132) 95%);
    --blue-1: rgb(68, 88, 132);
    --blue-4: #deebfb;
    --blue-2: rgba(68, 88, 132, 0.5);
    --blue-3: rgba(68, 88, 132, 0.2);
    --extra-background-color: rgba(255, 237, 45, 0.1);
    --shadow: rgba(255, 237, 45, 0.02);
    --box-shadow_1: inset  20px 20px 200px 30px var(--shadow);
    --box-shadow_2: inset -20px -20px 200px -30px var(--shadow);
    --titles: #efcb23;
    --border-radius: 20px;
    --input-background: rgba(222, 235, 251, 0.15);
    --input-border: 1px solid rgba(222, 235, 251, 0.5);
}

/*-font-size-*/
/*:root {*/
/*    --font-pc__p: 12px;*/
/*    --font-phone__p: 10px;*/
/*    --font-pc__h2--h3: 20px bold;*/
/*    --font-phone__h2--h3: 16px bold;*/
/*}*/
/*-font-weight-*/

/*///1. Global Styles///*/
/*om basis opmaak van HTML op te heven*/
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
}
.outer-outer-container {
    height: 100vh;
    width: 100vw;
    max-height: 2000px;
    max-width: 3000px;
    background-image: var(--background-gradient-lightmode);
    backdrop-filter: blur(5px);
    overflow: hidden;
}

.outer-outer-container.light-mode {
    background: var(--background-gradient-lightmode);
}

.outer-outer-container.dark-mode {
    background: var(--background-gradient-darkmode);
}

.outer-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 99%;
    width: 99%;

}
.header-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 20vw;
    width: 99vw;
    min-height: 250px;
    max-height: 400px;
    padding: 10px 0;
    position: relative;
}
.header-logo-container{
    justify-content: center;
    height: 80%;
    width: 99%;
    margin: 10px 10px;
    flex: 1;
    transition: 1s ease-in-out;
}
.header-logo-container h1{
    transition: 0.5s background-image,  ease-in-out;
}
.header-logo-container h1:hover{
    background-image: var(--green-blue-gradient);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}
.logo-img{
    height: 10vh;
    width: 60vw;
    max-height: 400px;
    max-width: 20000px;
    border-radius: 30px;
    box-shadow: 2px 2px 58px 4px rgba(255, 255, 255, 0.7), 2px 2px 58px 4px rgba(255, 253, 229, 0.7);
    margin: 10px 10px;
}
.logo-img:hover{
    box-shadow: inset 12px 12px 10px var(--blue-1);
}
.small_logo{
    width: 100px;
    height: 100px;
    max-width: 120px;
    max-height: 120px;
    border-radius: 30px;
    transform: rotatey(180deg) translateX(-38px);
}

.general_Img{
    width: 40vw;
    height: auto;
    border-radius: var(--border-radius);
    margin-left: 20px;

}

.smaller_logo {
    width: 50px;
    height: 50px;
    max-width: 100px;
    max-height: 100px;
    border-radius: 30px;
    margin: 0 5px 0 5px;
}

.main-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    height: auto;
    min-height: 60vh;
    max-height:  1000px;
    width: 98vw;
    overflow-y: auto; /* Voeg een scrollbar toe indien nodig */
    padding: 0;
}
.footer-container {
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: var(--shadow);
    flex-direction: row;
    width: 100%;
    height: 10vh;
    max-height: 400px;
    min-height: 200px;
    /*background-image: url('../src/assets/logos and backgrounds/grain.svg');*/
    /*background-size: cover;*/
    /*background-position: center;*/
    /*object-fit: contain;*/
}
.footer-container p{
    text-align: center;
}
/*///2.1 variable styles///*/
/*///2. Typography///*/
h1, h2, h3 {
    font-family: 'Roboto', sans-serif;
    color: var(--blue-1);
    margin: 2vh 1vw 2vh 1vw;
}
h1 {
    font-size: 3em;
    text-shadow: 2px 2px 2px var(--blue-4);
}
h2 {
    font-size: 1.6em;
    margin: 2vh 0.7vw 2vh 0.7vw;
    text-shadow: 2px 2px 2px var(--blue-4);
}
h3, h4 {
    font-size: 1.6em;
    margin-top: 0;
    margin-left: 12px;
}
h5{
    font-size: 1.2em;
    margin-top: 0;
    margin-left: 12px;
    color: var(--blue-1);
}
p{
    font-size: 1em;
    margin-top: 0;
}
/*///4. utility///*/
p a {
    text-decoration: none;
    color: black;
}

.debug {
    border: 2px solid red;
}
.bttn{
    min-width: 8vw;
    width: auto;
    height: 4vh;
    border: 2px solid whitesmoke;
    border-radius: var(--border-radius);
    box-shadow: 3px 3px var(--background-gradient-lightmode);
    background-color: var(--blue-1);
    color: whitesmoke;
    padding: 0 10px;
    text-decoration: none;
    text-align: center;
    margin: 5px 10px;
    transition: 0.5s ease-in-out;
    font-size: 1em;
 }


.bttn:hover{
    background-color: var(--light-dark-gradient);
    color: black;
    box-shadow: inset 6px 6px 25px var(--blue-2);
    border: 2px solid var(--blue-1);
}

.bttn_small{
    background-color: var(--gradient);
    border: 2px solid var(--blue-1);
    width: auto;
    height: 3vh;
    color: black;
    box-shadow: 6px 6px 25px var(--blue-3);
}
.background {
    background-image: url('../src/assets/logos and backgrounds/grain.svg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    width: 99%;
    height: auto;
}
.background_fade {
    background-image: url('../src/assets/logos and backgrounds/grain2.svg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    width: 99%;
    height: auto;
}
.background_fade2 {
    background-image: url('../src/assets/logos and backgrounds/grain3.svg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    width: 99%;
    height: auto;
}
.background_Home {
    background-image: url('../src/assets/general pics/Bierbrouwerij-1140x4832.jpg');
    background-size: cover;
    background-position: center;
    width: inherit;
    min-height: 59vh;
    max-height:  990px;
    border-radius: var(--border-radius);
    box-shadow: var(--box-shadow_1);

}
.filter{
}
.background_Home:hover {
    box-shadow: var(--box-shadow_2);
}
.no-background {
    background: rgba(255, 254, 243, 0.02);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    width: 100%;
    height: auto;
    border-radius: var(--border-radius);
}

.background_pale {
background: var(--background-gradient-color);

}

.background_bar {
    background-image: url('../src/assets/logos and backgrounds/grain.svg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    width: 100%;
    height: auto;
    box-shadow: inset 1000px 1000px rgba(139, 69, 19, 0.01);
}
.text-input {

    width: 90%;
    height: 10em;
    max-height: 10vh;
    padding: 10px;
    margin-left: 20px;
}
/*///6. Areas///*/
/* 6.2 scrollbar */
::-webkit-scrollbar {
    width: 6px;
    height: 6px;
    background: transparent;
}
::-webkit-scrollbar-track {
    background: transparent;
}
::-webkit-scrollbar-thumb {
    background: var(--blue-1);
    border-radius: 6px;
}
::-webkit-scrollbar-thumb:hover {
    background: var(--blue-2);
}






