
/*///
Table of Contents:
    1. link to the repository
    2. Global Styles
        2.1 variable styles
    3. Typografie*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,500;0,700;0,800;1,100;1,600;1,800&family=Roboto:ital,wght@0,100;0,400;0,500;1,100&display=swap');
/*  4. roots styles*/
/*  5. utility/reusable
    6. Areas
        6.1 background
        6.2 scrollbar
        6.3 Support
        6.4 Faq
        6.5 Footer
        6.6 Main*/

/*  4. roots styles*/
/*-colors-*/
/*:root {*/


:root {
    --gradient: radial-gradient(circle farthest-side at center center, #fdf699 80%, #ffed2d 95%, rgba(255, 237, 45, 0.9));
    --background-gradient: radial-gradient(circle farthest-side at center center, rgba(253, 246, 153, 0.12) 80%, rgba(255, 237, 45, 0.12) 95%, rgba(255, 237, 45, 0.12));
    --line-blue: rgb(68, 88, 132);
    --green-blue-gradient: linear-gradient(44deg, #78a80f 0%, rgb(68, 88, 132) 95%);
    --light-dark-gradient: linear-gradient(44deg, rgba(68, 88, 132, 0.5) 0%, rgb(68, 88, 132) 95%);
    --line-blue-2: rgba(68, 88, 132, 0.5);
    --line-blue-3: rgba(68, 88, 132, 0.2);
    --extra-background-color: rgba(255, 237, 45, 0.1);
    --shadow: rgba(255, 237, 45, 0.02);
    --box-shadow_1: inset  20px 20px 200px 30px var(--shadow);
    --box-shadow_2: inset -20px -20px 200px -30px var(--shadow);
    --titles: #efcb23;
    --border-radius: 20px;

}
/*-font-size-*/
/*:root {*/
/*    --font-pc__p: 12px;*/
/*    --font-phone__p: 10px;*/
/*    --font-pc__h2--h3: 20px bold;*/
/*    --font-phone__h2--h3: 16px bold;*/
/*}*/
/*-font-weight-*/

/*///1. Global Styles///*/
/*om basis opmaak van HTML op te heven*/
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
}
.outer-outer-container {
    height: 100vh;
    width: 100vw;
    min-width: 800px;
    max-height: 1500px;
    max-width: 3000px;
    background: var(--background-gradient);
    backdrop-filter: blur(5px);
    border: 3px solid black;
    overflow: hidden;
}
.outer-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    max-height: 1800px;
    max-width: 98vw;
    margin: 0 auto;
}
.header-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between; /* Plaats de elementen aan beide uiteinden van de container */
    align-items: center;
    height: 40vh;
    width: 100vw;
    max-height: 40vh;
    margin: 0;
    padding: 0;
}
.header-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 12vh;
    width: 100%;
    max-height: 20vh;
    margin: 0 0 0 0 ;
    padding: 10px 0;
    position: relative;
}
.header-logo-container{
    justify-content: center;
    height: 80%;
    width: 100%;
    margin: 10px 10px;
    flex: 1;
    transition: 1s ease-in-out;
}
.header-logo-container h1{
    transition: 0.5s ease-in-out;
}
.header-logo-container h1:hover{
    background-image: var(--green-blue-gradient);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}
.logo-img{
    height: 10vh;
    width: 60vw;
    max-height: 400px;
    max-width: 20000px;
    border-radius: 30px;
    box-shadow: 2px 2px 58px 4px rgb(255, 255, 255), 2px 2px 58px 4px rgb(255, 253, 229);
    margin: 10px 10px;
}
.logo-img:hover{
    box-shadow: inset 12px 12px 100px var(--line-blue-2);
}
.wheat_logo{
    width: 100px;
    height: 100px;
    max-width: 120px;
    max-height: 120px;
    border-radius: 30px;
    transform: rotatey(180deg) translateX(-55px);
}
.main-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    border: 2px solid black;
    height: auto;
    min-height: 60vh;
    max-height:  1000px;
    width: 98vw;
    overflow-y: auto; /* Voeg een scrollbar toe indien nodig */
    margin: 20px;
    padding: 0;
}
.footer-container {
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: var(--shadow);
    flex-direction: row;
    width: 100%;
    max-height: 15vh;
    min-height: 12vh;
    background-image: url('../src/assets/logos and backgrounds/grain.svg');
    background-size: cover;
    background-position: center;
    object-fit: contain;
}

/*///2.1 variable styles///*/

/*///2. Typography///*/
h1, h2, h3 {
    font-family: 'Roboto', sans-serif;
    color: var(--line-blue);
    margin: 2vh 1vw 2vh 1vw;
}
h1 {
    font-size: 3em;
}
h2 {
    font-size: 1.6em;
    margin: 2vh 0.7vw 2vh 0.7vw;
}
h3, h4 {
    font-size: 1.6em;
}
p{
    font-size: 1em;
    margin-top: 0;
}

/*///4. utility///*/
.debug {
    border: 2px solid red;
}
.bttn{
    min-width: 8vw;
    width: auto;
    height: 4vh;
    border: 2px whitesmoke;
    border-radius: var(--border-radius);
    box-shadow: 3px 3px var(--background-gradient);
    background-color: var(--line-blue);
    color: whitesmoke;
    padding: 10px;
    text-decoration: none;
    margin: 10px;
    transition: 0.5s ease-in-out;
    font-size: 1em;
 }
.bttn:hover{
    background-color: var(--light-dark-gradient);
    color: black;
    box-shadow: inset 6px 6px 25px var(--line-blue-2);
    border: 2px solid var(--line-blue);
}

.background {
    background-image: url('../src/assets/logos and backgrounds/grain.svg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    width: 100%;
    height: auto;
}

.inhance {
    width: 60%;
    height: 50%;
    transition: width 0.5s ease-in-out, height 0.5s ease-in-out, box-shadow 0.5s ease-in-out;
}

.inhance:hover {
    width: 150%;
    height: 150%;
    box-shadow: var(--box-shadow_1);
}



/*///6. Areas///*/

/* 6.2 scrollbar */
::-webkit-scrollbar {
    width: 12px; /* Breedte van de scrollbar */
    background: transparent;
}

::-webkit-scrollbar-track {
    background: transparent;
}
/* Handle (het beweegbare deel van de scrollbar) */
::-webkit-scrollbar-thumb {
    background: var(--line-blue);
    border-radius: 6px;
}

::-webkit-scrollbar-thumb:hover {
    background: var(--line-blue-2);
}






