/*Koppel het CSS-bestand aan `index.html` (<link rel="stylesheet" type="text/css" href="../.css");
- [ ] Zet alvast drie semantische elementen (`<header>`-, `<main>`- en `<footer>`) klaar in de body van het
                                                                                   HTML-bestand, zodat het duidelijk is hoe de pagina in stukjes verdeeld gaat worden;
- [ ] Voorzie jouw CSS-bestand van een complete CSS-reset;*/
/**/
/*=ctrl /
      ctr f voor zoeken in css
      id (#) kan 1 keer voor komen
      class (.) meerdere
      browser(rechtermuis -> inspecteren) - inspecteren/tijdelijke aanpassing code
                                                -element selecteren zie stijlen:  aan uit zetten
                                                -stijlen/nieuwe stijlen testen
      ctrl u voor html code
      px altijd deelbaar door 4
      door een foto in een span(inline element) of div(block element) een height en width te geven van 100% zal deze mee groeien met de parentelement
      gebruik div en span icm flexbox om elementen uit te lijnen
      met flex-basic:; beperkte je een element
*/
/*///
Table of Contents:
    1. link to the repository
    2. Global Styles
        2.1 variable styles
    3. Typografie*/
@import url('https://fonts.googleapis.com/css2?family=Oleo+Script+Swash+Caps&family=Poppins:wght@100&display=swap');
/*  4. roots styles*/
/*  5. utility/reusable
    6. Areas
        6.1 background
        5.2 area 2
        6.3 Support
        6.4 Faq
        6.5 Footer*/

/*  4. roots styles*/
/*-colors-*/
/*:root {*/
/*--Paars: #5722CD;*/
/*--Blauw: #4845E4;*/
/*--Roze: #ED4385;*/
/*--Zwart: #0C0C0C; !*(voor standaard tekst);*!*/
/*--Lichtpaars: #F2F0FF; !*(voor de grote zwevende woorden, zoals "hello" en "services") Uitzonderingen*!*/
/*--Lichtgrijs: #F3F6F9; !*(voor de achtergrond van de projecten)*!*/

/*:root {*/
/*    --Paars: #5722CD;*/
/*    --Blauw: #4845E4;*/
/*    --Roze: #ED4385;*/
/*    --Zwart: #0C0C0C; !*(voor standaard tekst);*!*/
/*    --Lichtpaars: #F2F0FF; !*(voor de grote zwevende woorden, zoals "hello" en "services") Uitzonderingen*!*/
/*    --Lichtgrijs: #F3F6F9; !*(voor de achtergrond van de projecten)*!*/
/*}*/
/*-borders-*/
/*-colors-*/

:root {
    --background-gradient: radial-gradient(circle farthest-side at center center, #fdf699 80%, #ffed2d 95%, rgba(255, 237, 45, 0.9));
}
/*-font-size-*/
/*:root {*/
/*    --font-pc__p: 12px;*/
/*    --font-phone__p: 10px;*/
/*    --font-pc__h2--h3: 20px bold;*/
/*    --font-phone__h2--h3: 16px bold;*/
/*}*/
/*-font-weight-*/

/*///1. Global Styles///*/
/*om basis opmaak van HTML op te heven*/
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.outer-outer-container {
    height: 100%;
    width: 100%;
    background: var(--background-gradient);
    backdrop-filter: blur(5px);
}/* Pas hier de gewenste vervaging (blur) waarde aan */


.outer-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    max-height: 2000px;
    max-width: 100vw;
    margin: 0 auto;
    border: 3px solid greenyellow;

}

.header-container {
    border: 3px solid red;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 50vh;
    width: 100%;
    max-height: 40vh;
    margin: 0;
    padding: 0;

    background-color: rgba(255, 255, 255, 0.7);
}

.title1{
    color: red;
}
.title2 {
    color: deepskyblue;
}
.title3{
    color: transparent;
}
.title4{
    color: deepskyblue;
}

.title1, .title2, .title3, .title4 {
    white-space: nowrap;
}



/*.header-container img{*/
/*    margin: 50px;*/
/*}*/
.main-container {
    flex-direction: row;
    justify-content: center;
    align-content: center;
    border: 2px solid black;
    height: 80vh;
    width: 100%;
    max-height: 90vh;
    min-height: 75vh;
    margin: 0 0 10px 0 ;
    padding: 0;
}

.footer-container {
    flex-direction: row;
    width: 100%;
    max-height: 20vh;
    min-height: 10vh;
    border: 3px solid #ff7592;
}



/*///2.1 variable styles///*/

/*///2. Typography///*/
h1, h2, h3, h4, h5, h6, div {
    font-family: Georgia, serif, "Times New Roman", Times, serif;
    margin-bottom: 1em;
    font-size: 1em;
    color: black;
}

h1 {
    font-size: 1.5em; /*16px is de standaard van "em"*/
}

p,
link,
label,
fieldset,
section,
input,
select,
textarea,
option,
legend,
table,
tfoot,
thead,
tr,
th {
    font-family: Georgia, serif, "Times New Roman", Times, serif;
}

/*///3. roots style///*/


/*///4. utility///*/
/*.spacing-margin-top { !*class*!*/
/*    margin-top: 16px; !*of gab*!*/
/*}*/

/*.spacing-margin-bottom { !*class*!*/
/*    margin-bottom: 16px; !*of gab*!*/
/*}*/

/*.spacing-margin-left { !*class*!*/
/*    margin-left: 16px; !*of gab*!*/
/*}*/

/*.spacing-margin-right { !*class*!*/
/*    margin-right: 16px; !*of gab*!*/
/*}*/

/*.spacing-margin { !*class*!*/
/*margin: 16px; !*of gab*!*/
/*margin: 10px 20px; !*(vert-hor) of gab*!*/
/*margin: 10px 20px 10px 20px; !*(boven-recht-onder-links) of gab*!*/
/*}*/

/*.spacing-padding-top { !*class*!*/
/*    padding-top: 16px; !*of gab*!*/
/*}*/

/*.spacing-padding-bottom { !*class*!*/
/*    padding-bottom: 16px; !*of gab*!*/
/*}*/

/*.spacing-padding-left { !*class*!*/
/*    padding-left: 16px; !*of gab*!*/
/*}*/

/*.spacing-padding-right { !*class*!*/
/*    padding-right: 16px; !*of gab*!*/
/*}*/

/*.spacing-padding { !*class*!*/

/*(boven-recht-onder-links) of gab*/
.debug {
    border: 2px solid red;
}


/*///5. Areas///*/
/*footer {*/


/*}*/

/*fieldset {*/

/*}*/

/*fieldset legend { !* "<" decent*!*/

/*}*/

/*button {*/


/*button-primary { !*class="button button-primary"*!*/

/*}*/

/*button + button { !*als item 2 is libeling van item 1 dan *!*/
/*    margin-left: 16px;
}*/

/*input {*/
/*width: 100%;*/
/*display: block /inline/ 100%; !*ipv flexbox*!*/
/*}*/







