
.informatie_container{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 2vh 2vw 2vh 2vw;
}

.titel-container {
    margin: 20px 0;
}


.text-content {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: center;
    margin-bottom: 20px;
    border-radius: var(--border-radius);
    box-shadow: var(--box-shadow_1);
    z-index: 1;

}

.text-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 20px 0;
    box-shadow: var(--box-shadow_1);
    transition: 0.5s ease-in-out;
    width: 70vw;
    height: 20vh;
}
.border_top_bottom {
    border-top: 2px solid var(--line-blue-2);
    border-bottom: 2px solid var(--line-blue-2);
    border-radius: var(--border-radius);
}
.border_top_bottom {
    border-top: 2px solid var(--line-blue-2);
    border-left: 2px solid var(--line-blue-2);
    border-bottom: 2px solid transparent;
    border-radius: 15px 0 0 0;
}

.text-row:hover {
    box-shadow: 5px 5px var(--box-shadow_2);
    transform: scale(1.001);
}

.text-container{
    margin-right: 20px;
    min-width: 30vh;
padding-left: 2vw;
    text-align: left;
}
.text-image img {
    justify-content: flex-end;
    width: 60%;
    height: auto;
    transition: 0.5s ease-in-out;
    border-radius: var(--border-radius);
    box-shadow: 5px 5px var(--box-shadow_1);
    margin: 10px 10px ;

}
.text-row.content_1 {
    flex-direction: row;
}
.text-row.content_2 {
    flex-direction: row-reverse;
}






