.slider {
    position: relative;
    width: 40vw;
    height: 14vh;
    overflow: hidden;
    margin: 2px 20vw;
}
.mySlides {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
    border-radius: 4px;

}
.mySlides.active {
    opacity: 1;
}
